# build-in Data-Type

## int

In [2]:
a = 12
b =3
a+b

15

In [3]:
b-a

-9

In [4]:
a//b

4

In [5]:
a*b

36

In [6]:
b**a

531441

In [7]:
#reminder
10 % 4

2

## Booleans

In [9]:
int(True)

1

In [10]:
int(False)

0

In [11]:
bool(1)

True

In [12]:
bool(0)

False

In [13]:
1 + True

2

In [15]:
pi = 3.141592

In [17]:
radius = 4.5
radius

4.5

## Complex number

In [19]:
c = 3.14+2.73j

In [20]:
c.real

3.14

In [21]:
c.imag

2.73

In [22]:
c.conjugate()

(3.14-2.73j)

## Fractions and Decimals

In [27]:
#Factions
from fractions import Fraction

In [28]:
Fraction(10,6)

Fraction(5, 3)

In [29]:
f = Fraction(10,5)

In [31]:
f.numerator

2

In [32]:
f.denominator

1

In [33]:
#decimal
from decimal import Decimal as D

## Strings and bytes

In [34]:
D(3.14) #float, approximate

Decimal('3.140000000000000124344978758017532527446746826171875')

In [35]:
D('3.14') #no approximate

Decimal('3.14')

In [37]:
#strings and bytes

In [38]:
#4 ways to make a string

In [39]:
str1 = 'This is a string. We build it with single quotes.'
str2 = "this is also a string, but build with double quotes."
str1

'This is a string. We build it with single quotes.'

In [40]:
str2

'this is also a string, but build with double quotes.'

In [41]:
print(str2)

this is also a string, but build with double quotes.

In [44]:
print(str1)

This is a string. We build it with single quotes.

In [42]:
#get length
len(str1)

49

In [43]:
len(str2)

52

In [45]:
#indexing and slicing
s = "The trouble is you think you have time."

In [46]:
s[10]

'e'

In [47]:
s[5]

'r'

In [48]:
s[:4]

'The '

In [49]:
s[:]

'The trouble is you think you have time.'

## Tuples

In [279]:
t= () #empty
type(t)

tuple

In [52]:
a,b,c = 1,2,3

In [53]:
a

1

In [56]:
a,b,c = b,a,c

In [57]:
a,b,c

(2, 1, 3)

## Lists

In [59]:
#empty list
[]

[]

In [61]:
list()

[]

In [62]:
list((1,3,4,5))

[1, 3, 4, 5]

In [63]:
[1,2,3]

[1, 2, 3]

In [64]:
[x+5 for x in [2,3,4]]

[7, 8, 9]

In [283]:
list('hello')

TypeError: 'list' object is not callable

In [281]:
a = list('Hello')

TypeError: 'list' object is not callable

In [67]:
a.append('World')

In [68]:
a

['H', 'e', 'l', 'l', 'o', 'World']

In [73]:
a.count('l')

2

In [74]:
a.count('d')

0

In [75]:
a.count('World')

1

In [76]:
a.extend('World')

In [77]:
a

['H', 'e', 'l', 'l', 'o', 'World', 'W', 'o', 'r', 'l', 'd']

In [81]:
a.index('l')

2

In [83]:
a.insert(0,2)

In [84]:
a

[2, 'H', 'e', 'l', 'l', 'o', 'World', 'W', 'o', 'r', 'l', 'd']

In [85]:
a.index(2)

0

In [86]:
a.pop(4)

'l'

In [87]:
a

[2, 'H', 'e', 'l', 'o', 'World', 'W', 'o', 'r', 'l', 'd']

In [88]:
a.remove('World')

In [89]:
a

[2, 'H', 'e', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [90]:
a.reverse()

In [91]:
a

['d', 'l', 'r', 'o', 'W', 'o', 'l', 'e', 'H', 2]

In [93]:
b = [3,4,5,8,7]

In [95]:
b.sort()
b

[3, 4, 5, 7, 8]

In [96]:
min(b)

3

In [97]:
max(b)

8

In [99]:
sum(b)

27

In [100]:
a +b  #concatenation

['H', 'W', 'd', 'e', 'l', 'l', 'o', 'o', 'r', 2, 3, 4, 5, 7, 8]

In [101]:
a * 2

['H',
 'W',
 'd',
 'e',
 'l',
 'l',
 'o',
 'o',
 'r',
 2,
 'H',
 'W',
 'd',
 'e',
 'l',
 'l',
 'o',
 'o',
 'r',
 2]

## Set

In [107]:
small = set()
small
small.add(2)
small

{2}

In [109]:
b = {2,3}

In [110]:
type(b)

set

In [111]:
3 in small

False

In [112]:
3 in b

True

## dictionaries

In [115]:
a = dict(A=1,z=-1)
a

{'A': 1, 'z': -1}

In [116]:
b = {'A':1,'z':-1}

In [117]:
b

{'A': 1, 'z': -1}

In [118]:
b.keys()

dict_keys(['A', 'z'])

In [119]:
b.values()

dict_values([1, -1])

In [120]:
b.items()

dict_items([('A', 1), ('z', -1)])

In [121]:
b.pop('z')
b

{'A': 1}

In [122]:
b.update(A=2)

In [123]:
b

{'A': 2}

In [124]:
b.get('A')

2

In [129]:
head = [2,1,13,14,15]
head[1:head[0]+1]

[1, 13]

# Python basic Exercise 1

In [132]:
#print string
print('Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are')

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

In [135]:
#print systemversion
import sys
print(sys.version)

3.7.0 (default, Jun 28 2018, 08:04:48) [MSC v.1912 64 bit (AMD64)]

In [137]:
#print datetime
import datetime
now=datetime.datetime.now()
print(now.strftime('%Y-%m-%d %H:%M:%S'))

2019-05-03 22:35:23

In [139]:
#calcuate area of circle
from math import pi
def area(radius):
    print('r =',radius)
    print('Area =',pi*(radius**2))

area(1.1)

r = 1.1
Area = 3.8013271108436504

In [140]:
#print strings
def name(lastname, firstname):
    print(firstname,lastname)

name("Lirong","Wei")

Wei Lirong

In [142]:
#print strings
fname = input("Input your first name: ")
lname = input("Input your last name: ")
print("Hello " + lname + " " + fname)

Input your first name: Lirong
Input your last name: Wei
Hello Wei Lirong

In [145]:
#covert string to list and tuple
numbers = input("input a sequence of numbers: ")
list = numbers.split(",")
tuple = tuple(list)
print('List: ',list)
print('Tuple: ',tuple)

input a sequence of numbers: 1,2,3,4,5
List:  ['1', '2', '3', '4', '5']
Tuple:  ('1', '2', '3', '4', '5')

In [146]:
type(numbers)

str

In [148]:
#split sentense
a= "Hello, world!"
a.split(",")

['Hello', ' world!']

In [285]:
#get extend name
name = input("filename: ")
extend = name.split('.')[-1]
print(extend)

filename: file.word
word

In [151]:
#first and last string
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0],color_list[-1])

Red Black

In [152]:
#format ourput
exam_st_date = (11, 12, 2014)
print("The examination will start from: ",exam_st_date[0],'/',exam_st_date[1],'/',exam_st_date[2])

The examination will start from:  11 / 12 / 2014

In [153]:
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

In [155]:
#format numbers
number = int(input())
result = number+number*10+number+number*100+number*10+number
print(result)

5
615

In [157]:
#format string
a = input()
n1 = int( "%s" % a )
n2 = int( "%s%s" % (a,a) )
n3 = int( "%s%s%s" % (a,a,a) )
print (n1+n2+n3)

5
615

# Conditions control in Python

In [161]:
altert_system = 'console'
error_severity='critical'
error_meassage='OMG! Something terrible happened!'

In [166]:
if altert_system == 'console':
    print("1",error_meassage)
elif altert_system == 'email':
    if error_severity == 'critical':
        print('2',error_meassage)
    elif error_severity == 'medium':
        print('3',error_meassage)
    else:
        print('4',error_meassage)

2 OMG! Something terrible happened!

In [165]:
altert_system='email'

# Loops in Python

## 1.for loop

In [168]:
#1.for loop
for number in [0,1,2,3,4]:
    print(number)

0
1
2
3
4

In [169]:
for number in range(5):
    print(number)

0
1
2
3
4

In [173]:
#range function
range(10)

range(0, 10)

In [174]:
surnames=['Rivest','Shamir','Adleman']
for position in range(len(surnames)):
    print(position,surnames[position])

0 Rivest
1 Shamir
2 Adleman

In [177]:
for position,surname in enumerate(surnames): #enumerate function
    print(position,surname)

0 Rivest
1 Shamir
2 Adleman

## loop over multiple sequences

In [179]:
people = ['Jonas','Julio','Mike','Mez']
ages = [25,30,31,39]

In [181]:
for position in range(len(people)):
    person=people[position]
    age=ages[position]
    print(person,age)

Jonas 25
Julio 30
Mike 31
Mez 39

In [182]:
for person, age in zip(people,ages): #zip function
    print(person,age)

Jonas 25
Julio 30
Mike 31
Mez 39

## 2.While loop

In [185]:
#while loop
n=39
remainders = []
while n>0:
    remainder = n%2
    remainders.append(remainder)
    n //=2

remainders = remainders[::-1] #reverse order
print(remainders)

[1, 0, 0, 1, 1, 1]

In [186]:
position =0
while position < len(people):
    person = people[position]
    age = ages[position]
    print(person,age)
    position +=1

Jonas 25
Julio 30
Mike 31
Mez 39

# Python String exercise 2

In [189]:
#Exercise 2
str = input()
print('length of string: ', len(str))

w3resource.com
length of string:  14

## length of a string

In [188]:
def string_length(str1):
    count = 0
    for char in str1:
        count +=1
    return count
print(string_length('w3resource.com'))

14

## number of charactors in a string

In [193]:
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys=dict.keys()
        if n in keys:
            dict[n] +=1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [199]:
def pasteht(string):
    str = string[0:2]+string[-2:]
    return str

pasteht('w3resoure')

'w3re'

In [200]:
pasteht('w')

'ww'

In [222]:
#change one of the characters
def changef(string):
    s = string[0]
    string = string.replace(s,'$')
    string = s+string[1:]
    return(string)

In [223]:
changef('restart')

'resta$t'

In [228]:
#swap the characters
def swapw(string1,string2):
    t2=string2[0:2]
    t1=string1[0:2]
    str = t2+string1[2:]+' '+t1+string2[2:]
    return(str)

In [229]:
swapw('abc','xyz')

'xyc abz'

In [230]:
def appending(string):
    if len(string)<3:
        return(string)
    elif string[-3:]=='ing':
        return(string+'ly')
    else:
        return(string+'ing')

In [232]:
appending('abc')

'abcing'

In [233]:
appending('string')

'stringly'

In [234]:
appending('ab')

'ab'

In [260]:
#replace substr
def replacesubstr(string):
    snot = string.find('not')
    spoor = string.find('poor')
    if spoor > snot and snot>0 and spoor>0:
        string=string.replace(string[snot:spoor+4],'good')
        return(string)
    else:
        return(string)

In [261]:
replacesubstr('the lyrics is not poor!')

'the lyrics is good!'

In [267]:
#the longest word
def longest(wordlist):
    word_len = []
    for n in wordlist:
        word_len.append((len(n),n))
    word_len.sort()
    return word_len[-1][1]

In [268]:
longest(['PHP','c#','SQL'])

'SQL'

In [271]:
#remove the nth index character from a string
def removen(string,n):
    first_part = string[:n]
    last_part =string[n+1:]
    return first_part + last_part

In [272]:
removen('abc',2)

'ab'

In [273]:
#exchange head and tail of a string
def exchange(string):
    l=string[-1]
    f=string[0]
    return l+string[1:len(string)-1]+f

In [274]:
exchange('abcds')

'sbcda'

In [275]:
#remove odd index string
def oddstring(string):
    evenstring = ''
    for index in range(len(string)):
        if index % 2 == 0:
            evenstring += string[index]
    return evenstring

In [276]:
oddstring('abcdef')

'ace'

In [277]:
#count words in a sentense
def wordcount(sentense):
    counts = dict()
    words = sentense.split()
    
    for word in words:
        if word in counts:
            counts[word]+=1
        else:
            counts[word]=1
    return counts

In [278]:
wordcount('the quick brown fox jumps over the lazy dog.')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog.': 1}

In [288]:
def upplower(string):
    print(string.upper())
    print(string.lower())

In [291]:
string = input()
upplower(string)

Python
PYTHON
python

In [ ]:
#sort unique words in a sequence of words ?????
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print([set(words)].sort())

In [2]:
#add hutml tags around words
def add_tags(tag, word):
    return "<%s>%s</%s>" % (tag, word, tag)

add_tags('i','Python')

'<i>Python</i>'

# Python Exercise 3:list

In [5]:
#sum all the iterms in a list
def sum_list(items):
    return sum(items)

In [6]:
sum_list([1,2,-8])

-5

In [8]:
#multiply all the items in a list
def times_list(items):
    times = 1
    for i in items:
        times *=i
    return times

In [9]:
times_list([1,2,-8])

-16

In [15]:
#max item of the list
items=[1,2,3,4]
max(items)

4

In [16]:
#smallest item of the list
items = [4,5,6,7]
min(items)

4

In [20]:
#count items in a list
def count_string(items):
    count =0
    for item in items:
        if len(item)>=2 and item[0]==item[-1]:
            count += 1
    return count

In [19]:
count_string(['abc', 'xyz', 'aba', '1221'])

2

In [5]:
#sort list of tuples
def last(n): return(n[-1])
def sort_tuple(list):
    return sorted(list,key=last)

In [6]:
sort_tuple([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)])

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [18]:
#remove duplicates from a list
def remove_dup(list):
    dup_list=[]
    unique_items=set()
    for item in list:
        if item not in unique_items:
            dup_list.append(item)
            unique_items.add(item)
    return unique_items

In [19]:
a = [10,20,30,20,10,50,60,40,80,50,40]
remove_dup(a)

{10, 20, 30, 40, 50, 60, 80}

In [20]:
#check whether a list is empty
l=[]
if not l:
    print("The list is empty")

The list is empty

In [21]:
#copy a list
original=[1,2,3,4]
new = list(original)
print(new)

[1, 2, 3, 4]

In [22]:
#items from a list larger than n
def long_item (list,n):
    longlist=[]
    for item in list:
        if len(item)>n:
            longlist.append(item)
    return longlist

In [23]:
long_item(['The','big','a','world'],4)

['world']

In [28]:
#two lists have in common
def commoncheck(list1,list2):
    for item1 in list1:
        for item2 in list2:
            if item1==item2:
                return (True)
            else:
                return(False)

In [29]:
commoncheck([1,2,3,4,5], [6,7,8,9])

False

In [30]:
#remove several items in a list
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

In [35]:
#3D arrary 5*4*6
x = [[ ['*' for i in range(6)] for i in range(4)] for i in range(5)]
print(x)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [40]:
#only leave odd number
def oddnum(list):
    oddnum=[x for x in list if x%2!=0]
    return(oddnum)

In [41]:
oddnum( [7,8, 120, 25, 44, 20, 27])

[7, 25, 27]

In [44]:
#shuffle a list
from random import shuffle
a = shuffle( [7,8, 120, 25, 44, 20, 27])
print(a)

None

In [46]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print(shuffle(color))

None

# Python functions

In [49]:
## Function exercise 4

In [50]:
#the max in the three numbers
def maxthree(a,b,c):
    return max(a,b,c)

In [51]:
maxthree(1,3,6)

6

In [54]:
#sum of all the numbers in a list
def sumlist(a):
    return sum(a)

In [55]:
sumlist([8,2,3,0,7])

20

In [58]:
#times of all the numbers in a list
def times_list(a):
    times = 1
    for item in a:
        times *=item
    return times

In [60]:
times_list([8,2,3,9,7])

3024

In [73]:
#reverse a string
def reversestring(string):
    reverse = ''
    index = len(string)
    while index >0 :
        reverse  += string[index-1]
        index = index - 1  
    return reverse

In [74]:
a = "1234abcd"
reversestring(a)

'dcba4321'

In [75]:
#factorial of a number
def factnum(number):
    num = number
    fact = 1
    while num > 0:
        fact *= num
        num = num -1
    return fact

In [76]:
factnum(5)

120

In [77]:
factnum(0)

1

In [85]:
#count upper cases and lower cases in string
def countlu(string):
    #dictionary of numbers of upper and lower cases
    result = {"upper":0,"lower":0}
    for cha in string:
        if cha.isupper():
            result['upper']+=1
        elif cha.islower():
            result['lower']+=1
    return result

In [86]:
countlu('The quick Brown Fox')

{'upper': 3, 'lower': 13}

In [91]:
#unique items in a list
def unique(list):
    unique = []
    for item in list:
        if item not in unique:
            unique.append(item)
    return unique

In [92]:
unique([1,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [103]:
#check whether a number is prime or not
def primecheck(num):
    if num==1:
        return False
    elif num==2:
        return True
    elif num > 2:
        for n in range(2,num):
            if num % n == 0:
                return False
        return True

In [104]:
primecheck(9)

False

In [118]:
#check whehter a numebr is a perfect number
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True